# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# MongoDB local data (optional)
data/
dump/

# OS files
.DS_Store
Thumbs.d

# Editor settings
.vscode/
.idea/

# Build output
dist/
build/
